doctype
html
  head
    meta(name='viewport' content='width=device-width' initial-scale='1.0' charset='utf-8')
    link(rel='stylesheet' href='https://cdnjs.cloudflare.com/ajax/libs/tachyons/4.6.1/tachyons.min.css')
    link(rel="stylesheet" href="/main.css")
    link(href="https://fonts.googleapis.com/css?family=Inconsolata|Roboto" rel="stylesheet")
    link(href='https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css' rel='stylesheet')
    title= public._data[current.path] ? public._data[current.path].title + " - Philip Young" : title + " - Philip Young"
    meta(name="description" content="#{ description }")
    script(src='https://cdn.rawgit.com/philipyoungg/external-link-to-new-tab/master/externalLinkToNewTab.min.js')
    link(href='https://cdn.rawgit.com/philipyoungg/external-link-to-new-tab/master/externalLinkToNewTab.css' rel='stylesheet')
    //- script(src='https://cdn.rawgit.com/philipyoungg/lazyload/master/lazyload.min.js')
    //- link(href='https://cdn.rawgit.com/philipyoungg/lazyload/master/lazyload.css' rel='stylesheet')
  body.bg-near-white.f5-m.f4-ns.lh-copy.inconsolata
    != partial('_shared/nav')
    .center.pa4.pa5-ns(style="max-width: 50rem")
      if current.path[0] === 'thoughts' && current.path[1] !== 'index'
        .article.hover-internal
          h6= public.thoughts._data[current.path[1]].date
          h1= public.thoughts._data[current.path[1]].title
          != yield
          hr
          #disqus_thread
          hr
          != partial('_shared/blog-excerpt')
      else
        .hover-internal.measure-wide
          != yield
          != partial('_shared/blog-excerpt')
  script.
    externalLinkToNewTab();
    lazyLoad();

  script.
    <!--Start of Tawk.to Script-->
    var Tawk_API=Tawk_API||{}, Tawk_LoadStart=new Date();
    (function(){
    var s1=document.createElement("script"),s0=document.getElementsByTagName("script")[0];
    s1.async=true;
    s1.src='https://embed.tawk.to/5734a7777a3ac52f0f9f14e7/default';
    s1.charset='UTF-8';
    s1.setAttribute('crossorigin','*');
    s0.parentNode.insertBefore(s1,s0);
    })();
  script.
    (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
    (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
    m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
    })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

    ga('create', 'UA-51658519-1', 'auto');
    ga('send', 'pageview');
  script.
    var disqus_config = function () {
      this.page.url = window.location;  // Replace PAGE_URL with your page's canonical URL variable
      this.page.identifier = window.location; // Replace PAGE_IDENTIFIER with your page's unique identifier variable
      };
      (function() { // DON'T EDIT BELOW THIS LINE
      var d = document, s = d.createElement('script');
      s.src = '//philipyoungg-com.disqus.com/embed.js';
      s.setAttribute('data-timestamp', +new Date());
      (d.head || d.body).appendChild(s);
      })();
