//- .center.mw8.ph3.ph4-m.ph5-ns.apple-system.relative(style="max-width: 50rem")
//-   .bb.b--black-10.dt.w-100.pv3.z-2
//-     ul.dtc.list.ma0.f7.f6-m.f5-ns.pl0
//-       li.dib.mr2.mr3-ns
//-         a.link.dim.black-80(href='/' class=current.path[0] === 'index' ? 'b' : '' ) about 
//-           span.normal  🙇
//-       //- li.dib.mr2.mr3-ns
//-         a.link.dim.black-80(href='/thoughts' class=current.path[0] === 'thoughts' ? 'b' : '') thoughts
//-          span.normal  🖋
//-       li.dib.mr2.mr3-ns
//-         a.link.dim.black-80(href='/inquiry' class=current.path[0] === 'inquiry' ? 'b' : '') inquiry
//-          span.normal  💻
//-       //- li.dib
//-         a.link.dim.black-80(href='http://typography.philipyoungg.com') typography
//-     p.dtc.w2.w4-ns.tr.f6.f5-ns
//-       a.link.dn.dib-ns.black-80.b(href='/') Philip Young
//-       a.link.dib.dn-ns.black-80.b(href='/') PY
ul.list.pl0
  li
    a.dim(href='/' class=current.path[0] === 'index' ? 'softBlue link' : '') Home &rarr;
  li
    a.dim(href='/thoughts' class=current.path[0] === 'thoughts' ? 'softBlue link' : '') Thoughts &rarr;
  li
    a.dim(href='/books' class=current.path[0] === 'books' ? 'softBlue link' : '') Books &rarr;
  li
    a.dim(href='/inquiry' class=current.path[0] === 'inquiry' ? 'softBlue link' : '') Inquiry &rarr;
