
//- hack
if (current.path[1] !== 'index') 
  .cf.center.ph3.ph5-ns.grid.mb3.wow.fadeInUp
    .fl.w-100.w-100-m.w-25-ns.ph3.h1
    .fl.w-100.w-100-m.w-75-ns.ph3
      h1.f2.f-subheadline-ns.poppins.tracked-tight.mb3.mb5-ns.lh-title Projects.
.cf.center.ph3.ph5-ns.grid.wow.fadeInUp.mb5
  .fl.w-100-m.w-25-ns.ph3
    .w-75
      p.o-70.f6.disclaimer Project section are in progress.
  .fl.w-100-m.w-75-ns.flex.flex-wrap        
    each project, slug in public.projects._data
      if slug !== 'index'
        if project.published
          a.thoughts.project.db.link.dim.mb4.mb5-ns.w-50.w-third-m.w-third-ns.pl3.pr0.pr3-ns(href='/projects/' + slug)
            .w-100.bg-black-20.aspect-ratio--4x3.mb3.relative
              img.absolute(src='/assets/bg.png' data-src='/assets/#{slug}-thumbnail.png')
            .w-100
              h3.poppins.f5.b.mb2.fw6.lh-title.lh-copy-ns(style='letter-spacing: -0.025em')=project.title     
              div.mb2.mb3-ns.cf
                each category in project.category
                  span.f7.f6-ns.tag.br1.ba.black-40.mr1.mb1.ttu.tracked.b.db.fl=category
              p.f6.f5-ns.lh-copy-ns.mb2.normal=project.description
              p.blue-link.mb0.underline Learn more &rarr;
        else
          .o-50.w-50.w-third-m.w-third-ns
            div.thoughts.project.db.link.mb4.mb5-ns.pl3.pr0.pr3-ns(href='/projects/' + slug)
              .w-100.bg-black-20.aspect-ratio--4x3.mb3.relative
                img.absolute(src='/assets/bg.png' data-src='/assets/#{slug}-thumbnail.png')
              .w-100
                h3.poppins.f5.b.mb2.fw6.lh-title.lh-copy-ns(style='letter-spacing: -0.025em')=project.title     
                div.mb2.mb3-ns.cf
                  each category in project.category
                    span.f7.f6-ns.tag.br1.ba.black-40.mr1.mb1.ttu.tracked.b.db.fl=category
                p.f6.f5-ns.lh-copy-ns.mb2.normal=project.description
                p.blue-link.mb0.strike (Coming soon. Subscribe below, and I'll get you updated!)
